<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vikey.webserve.mapper.Annexe_taskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vikey.webserve.entity.Annexe_task">
        <id column="id" property="id"/>
        <result column="discard" property="discard"/>
        <result column="create_time" property="create_time"/>
        <result column="name" property="name"/>
        <result column="original_language" property="original_language"/>
        <result column="translate_language" property="translate_language"/>
        <result column="uid" property="uid"/>
    </resultMap>

    <select id="getAnnexe_taskByDate" resultMap="BaseResultMap">
        SELECT DATE(create_time) as create_time, name ,id, create_time as e FROM annexe_task where uid=#{uid}
        <if test="name!=null and name!=''">
            and name like CONCAT('%',#{name},'%')
        </if>
        ORDER BY e desc;
    </select>

    <select id="getAllTaskCount" resultType="map" statementType="CALLABLE">
        CALL all_task_count(#{userid,mode=IN},#{time,mode=IN});
    </select>

    <select id="getMostAtUseLanguage" resultType="map">
        select original_language,count(*) as count from annexe_task where uid=#{userid} and create_time>#{time}
        group by original_language
    </select>

    <select id="getLastAtUseLanguage" resultType="map">
        select original_language,create_time as time from annexe_task where uid=#{userid} and create_time=(
            select MAX(create_time) from annexe_task
            where uid=#{userid} and create_time>#{time}
        )
    </select>

    <select id="getCountAtByLanguage" resultType="map">
        select original_language , COUNT(*) as count from annexe_task

        <if test="time!=null">
        where create_time>#{time}
        </if>

        group by original_language
    </select>

</mapper>
