<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vikey.webserve.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vikey.webserve.entity.Role">
        <id column="id" property="id" />
        <result column="discard" property="discard" />
        <result column="create_time" property="create_time" />
        <result column="name" property="name" />
        <result column="nameZh" property="nameZh" />
    </resultMap>

</mapper>
