<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vikey.webserve.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vikey.webserve.entity.User">
        <id column="id" property="id"/>
        <result column="discard" property="discard"/>
        <result column="create_time" property="create_time"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="username" property="username"/>
        <result column="last_login_time" property="last_login_time"/>
        <result column="telephone" property="telephone"/>
        <result column="enabled" property="enabled"/>
        <result column="userface" property="userface"/>
    </resultMap>

    <resultMap id="UserWithRoles" type="com.vikey.webserve.entity.User" extends="BaseResultMap">
        <collection property="roles" ofType="com.vikey.webserve.entity.Role">
            <id column="rid" property="id"></id>
            <result column="rname" property="name"></result>
            <result column="rnameZh" property="nameZh"></result>
            <result column="rcreate_time" property="create_time"></result>
            <result column="rdiscard" property="discard"></result>
        </collection>

    </resultMap>


    <select id="selectUserWithRoles" resultMap="UserWithRoles">
        select u.id,u.discard, u.create_time,u.account,u.password,u.username,u.userface,u.last_login_time
         ,u.telephone,u.enabled,r.id as rid, r.name as rname,r.nameZh as rnameZh,r.create_time as rcreate_time,r.discard
          as rdiscard from user u left join user_role ur on u.id= ur.uid left join role r on
        ur.rid= r.id where u.id=#{id}

    </select>

</mapper>
